app-title {


  ion-toolbar{
   --ion-color-primary: linear-gradient(60deg, var(--app-secondary-color), var(--app-third-color));
  }


   .imgToolBar {
       vertical-align: middle;
       width: 20%;
       max-height: 2rem;
       height: 44px;
       display : flex;
   }

   
   
 }
 