
app-project-infos{

    .div-parent{
        display: flex;
        flex-direction: column;
    }

    ion-slides{
        ion-slide{
            display : flex !important;
            flex: 1 1 auto;
            margin:0.5rem 0rem 2rem 0rem;
        }
    }
    
    
    
    .underline{
        text-decoration: underline;
    }
    
    .swiper-slide{
        img{
            max-width: 12rem;
        }
    }

    .projet-description{
        display : flex;
        font-size: 0.6rem;
        margin-right: 0.1rem;
        margin-left: 0.1rem;
        text-align: center;
        overflow: scroll;
    }

    .logo_photo{
        display: flex;
        display: inline-block;  
        width: 5rem;
        height: 5rem;
        margin-top: 1rem;
    }

    .div-enfant-logo-photo{
        width: 100%;
        text-align: center;
    }
    
    
}

